<form action="/create/flashcards" method="post">
<label for="Flashcard">Q:</label>
<input type="text" name="question" placeholder="Type question here"><br>
<label for="Flashcard">A:</label>
<input type="text" name="answer" placeholder="Type answer here"><br>
<label for="Flashcard">ID:</label>
<input type="text" name="deck_id" placeholder="enter deck id here"><br>
<!-- line 5 needs to be a drop down menu that shows deck id numbers -->

<input type="submit" name="sumbit" value="Create">
</form>
