<h1> Flashcards </h1>
<nav>
<a href= "/"> Home </a>
<% if logged_in? %>
  <form class="" action="/sessions" method ="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
  <a href= "/create/flashcard"> Create Flashcard</a><br>
  <a href= "/create"> Create Deck </a>
<% else %>
  <a href= "/login"> Login </a>
  <a href= "/user/new"> Register </a>
<% end %>
</nav>





<h2> Flashcard Decks: </h2>

<% @decks.each do |deck| %>
<a href='/decks/<%= deck.id %>'><%= deck.name %></a>
  <% end %>
